* {
    margin: 0;
    padding: 0;
}

body {}

html {
    background: #ffffff;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none!important;
    color: rgb(119, 84, 84);
    cursor: pointer;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(46, 29, 29);
}

p {
    color: #888;
}

focus {
    outline: none;
}

.container-fluid {
    padding: 0;
}

a {
    text-decoration: none;
}


/* navigation-area start  */

section.navigation-padding-area {
    position: relative;
}

.navbar-toggle {
    font-size: 24px;
}

.nav-brand-area {
    font-size: 30px;
    font-weight: 700;
    width: 0%;
}

.nav-item-area {
    position: absolute;
    right: 0;
    top: 75px;
    text-align: center;
    width: 100%;
    height: 544px;
    background: #00000091;
    display: none;
    padding: 0 100px;
    z-index: 99;
    padding-top: 89px;
}

.nav-item-area ul li:nth-child(6) {
    border: none;
}

.nav-brand-area a {
    color: #000;
    text-decoration: none;
}

a.navbar-left-title span {
    color: #01b0dd;
}

.nav-brand-area a:hover {
    color: #000;
}

.navigation-wrap {
    position: relative;
}

.nav-item-area ul {
    position: relative;
}

.nav-close-btn {
    position: absolute;
    top: -7px;
    right: 60px;
    font-size: 30px;
    color: #01b0dd;
    display: none;
}

.navigation-mobile-menu {
    position: absolute;
    right: 0;
    top: 15px;
    width: 45px;
    height: 45px;
    background: #01b0dd22;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8;
}

.navbar-toggle i {
    padding: 10px;
    color: #01b0dd;
}

.navigation-wrap {
    display: flex;
    padding: 7px 0;
    z-index: 1;
}

.about-bio-right h3 {
    font-weight: 700;
}

.nav-item-area ul li {
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid #01b0dd;
    width: 64%;
    margin: 0 auto;
}

.nav-item-area li a {
    text-decoration: none;
    transition: .5s;
    color: #fff;
}

.nav-item-area li a:hover {
    text-decoration: none;
    color: #01b0dd;
    transition: .5s;
}


/* navigation-area end */


/* hero-area start */

section.hero-area {
    background: #f7f8fc;
    position: relative;
    z-index: 1;
}

.hero-main-bg-left {
    background-image: url(../img/profile-picture.jpg);
    position: absolute;
    right: 0;
    height: 100%;
    width: 53%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #9dd753;
}

.single-intro {
    width: 100%;
    height: 100%;
}

.hero-main-bg-left .intro-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.hero-padding-area {
    padding: 193px 0;
    box-shadow: inset -10px 9px 25px 1px #01b0dd17;
}

.hero-about {
    /* padding: 0px 120px 0px 15px; */
}

.hero-about h2 span {
    color: #01b0dd;
}

.hero-about-btn a {
    background: #01b0dd;
    color: #fff;
    padding: 9px 35px;
    border-radius: 25px;
    position: relative;
    top: 15px;
}


/* hero-area end */


/* about-area start */

section.about-area {
    background: #fff;
}

section.about-padding-area {
    padding: 140px 0px 100px 0px;
}

.about-left-main-img img {
    width: 370px;
    border-radius: 10px;
}

.about-bio-right h3 span {
    width: 30px;
    height: 4px;
    background: #00b0dc;
    position: absolute;
    top: 18px;
    left: 120px;
}

.about-social-title h4 {
    margin-bottom: 15px;
}

.social-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
}

a.social-link {
    font-size: 24px;
    color: #888;
    padding: 5px;
}

.social-item:hover a {
    color: #fff!important;
    transition: .5s;
}

.social-item:hover {
    color: #fff!important;
    background: #00b0dc;
    transition: .5s;
    border: 1px solid #00b0dc;
}


/* about-area end */


/* service-area start */

section.service-area {
    background: #f7f8fc;
}

section.service-padding-area {
    padding: 100px 0;
}

.service-title {
    text-align: center;
    padding: 10px 0;
}

.service-title h3 {
    margin-bottom: 30px;
    font-weight: 700;
}

.service-item-wrea {
    width: 100%;
    height: 270px;
    background: #fff;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 5px;
}

.service-item-wrea i {
    font-size: 50px;
    color: #01b0dd;
    padding: 30px 0px 30px 0px;
}


/* service-area end */


/* portfolio-area start */

section.portfolio-padding-area {
    padding: 100px 0px 170px 0px;
    width: 100%;
    overflow: hidden;
}

.portfolio-title h3 {
    font-weight: 700;
    margin-bottom: 14px;
    text-align: center;
}


/* project-start */

.project-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 30px;
    border-radius: 2px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.project-item:hover {
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 5px 5px 0px 1px #01b0dd;
    margin-top: 30px;
    border-radius: 2px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.project-item img {
    width: 100%;
    height: 200px;
}


/* portfolio-area end */


/* work-process-area start */

section.work-process-area {
    background: #f7f8fc;
}

section.work-process-padding {
    padding: 100px 0px 100px 0px;
}

section.work-process-padding i {
    font-size: 40px;
}

.work-process-title {
    text-align: center;
    margin-bottom: 70px;
}

.w-process-item {
    text-align: center;
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 4px 10px -3px #01b0dd;
    line-height: .3;
}

.w-process-item.w-p-dicover {
    background: #01b0dd;
    color: #fff;
}

.w-process-item.w-p-dicover p {
    color: #fff;
}

.w-process-item.w-p-build i {
    color: #01b0dd;
}

.w-process-item.w-p-connect {
    background: #01b0dd;
    color: #fff;
}

.w-process-item.w-p-connect p {
    color: #fff;
}

.w-process-item.w-p-lounch i {
    color: #01b0dd;
}

.work-p-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 35px;
}

.work-p-wrap p {
    font-size: 24px;
    color: #01b0dd;
    margin-top: 18px;
    font-weight: 500;
}

.w-process-item:after {
    content: "\f101";
    font-family: fontawesome;
    position: absolute;
    right: -80px;
    top: 60px;
    font-size: 24px;
    color: #01b0dd;
}

.w-process-item.w-p-lounch:after {
    content: "\f101";
    font-family: fontawesome;
    position: absolute;
    right: -90px;
    top: 42px;
    font-size: 24px;
    display: none;
}


/* work-process-area end */


/* client-area start */

section.client-padding-area {
    text-align: center;
    padding: 100px 0px 50px 0px;
}

.client-title h3 {
    font-weight: 700;
}

.client-title {
    margin-bottom: 20px;
}

.slider-wrap {
    padding: 0px 230px;
    margin-top: 50px;
}

.slider-wrap i {
    font-size: 50px;
    color: #01b0dd;
}

.slider-wrap p {
    color: #888;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 2px solid transparent;
}


/* .owl-dots {
    height: 150px;
} */

button.owl-dot {
    border: 2px solid transparent;
}

button.owl-dot.active {
    transition: .5s;
    border: 2px solid #01b0dd;
    outline: none;
}

section.client-padding-area .owl-carousel .owl-item img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 45%;
}


/* client-area end */


/* contect-area start */

section.contect-area {
    width: 100%;
    background-image: radial-gradient(#d0b1b1 20%, #fff 0), radial-gradient(#fff 20%, transparent 0);
    background-size: 11px 11px;
}

section.contect-padding-area {
    background: #0bb4df;
    opacity: .9;
    padding: 70px 0;
}

.contect-left h3 {
    color: #fff;
    font-weight: 700;
}

.contect-left p {
    color: #fff;
    margin-bottom: 50px;
}

.contect-left {
    padding: 20px 40px;
}

.contect-left a {}

a.contect-btn {
    text-decoration: none;
    background: #fff;
    padding: 12px 35px;
    border-radius: 25px;
    color: #01b0dd;
}

.contect-right {
    text-align: center;
    position: relative;
}

.contect-right img {
    width: 400px;
    height: 270px;
}


/* contect-end */


/* blog-start */

section.blog-area {
    background: #f7f8fc;
}

section.blog-padding-area {
    padding: 100px 0;
}

.blog-title-area {
    text-align: center;
    margin-bottom: 40px;
}

.blog-title-area h3 {
    font-weight: 700;
}

.blog-content-area p img {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 50%;
}

.blog-banner-area {
    background-image: url(../img/blog1.jpg);
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0px 0px;
}

.blog-banner-area span {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: #0bb4df;
    padding: 5px;
    border-radius: 5px;
}

.blog-item-right span {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: #0bb4df;
    padding: 5px;
    border-radius: 5px;
}

.blog-banner-area-right {
    background-image: url(../img/blog2.jpg);
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0px 0px;
}

.blog-content-area {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.blog-fotter-area {
    padding: 10px 10px;
}

.blog-content-area a {
    text-decoration: none;
    color: #0bc7f7;
    font-weight: 500;
    font-size: 18px;
}

.blog-item-left {
    box-shadow: 1px 1px 20px 0px #00b0dc29;
}

.blog-item-right {
    box-shadow: 1px 1px 20px 0px #00b0dc29;
    position: relative;
}

.blog-content-area i {
    margin-left: 5px;
}

.blog-fotter-area ul li {
    display: inline-block;
    margin: 0 10px;
}

.blog-fotter-area i {
    margin-right: 10px;
    color: #54cae8;
}


/* blog-end */


/* fotter-start */

section.fotter-padding-area {
    padding: 100px 0;
}

.fotter-cotect {
    width: 100%;
}

.fotter-cotect input {
    width: 100%;
    padding: 15px;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}

.fotter-cotect textarea {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 10px;
    max-height: 160px;
}

.fotter-cotect input[type=submit] {
    width: 90%;
    background: #00bdec;
    font-weight: 700;
    font-size: 18px;
}

.fotter-maps {
    width: 100%;
    height: 100%;
}

.fotter-maps iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.fotter-title {
    text-align: center;
    margin-bottom: 30px;
}

.fotter-title h3 {
    font-weight: 700;
}

section.fotter-bottom-area {
    background: #f7f8fc;
    position: relative;
}

section.fotter-bottom-padding-area {
    padding: 30px 0;
}

.fotter-copyright-wrap {
    text-align: center;
}

.fotter-copyright-wrap p {
    margin: 0;
    color: #323335;
}

.fotter-copyright-wrap span {
    color: #00bdec;
}

a.fotter-bottom-btn {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: #01b0dd;
    padding: 7px 15px;
    color: #fff;
    border-radius: 50%;
}


/* fotter-end */